{% extends '_layouts/detail.njk' %}
{% set discography = discography %}

        {% for discography in discography %}
<div class="card" style="width:200px">
  <img class="card-img-top" src= assets/img/discs/{{ discography.image }} alt="Discography Image">
  <div class="card-body">
    <h4 class="card-title">{{ discography.name }}</h4>
    <p class="card-text">{{ discography.year }}</p>
  </div>
        {% else %}
          <li>This would display if the 'discography' collection were empty</li>
        {% endfor %}