{% extends '_layouts/detail.njk' %}

{% block page_title %}Queen's Discography{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <h1>Queen's Discography</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% for discography in discography %}
        <div class="list-unstyled">
          <li class="media">
            <img class="discography" src= assets/img/discs{{ discography.image }} alt="discography image">
        <div class="media-body">
          <h5 class="discography-title">{{ discography.title }}</h5>
          <h3 class="discography-year">{{ discography.year }}</h3>
          </li>
    </div>
    </div>
        {% else %}
          This would display if the 'discography' collection were empty.
        {% endfor %}
</div>        
</div>
