{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Queen</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>Queen was formed in London in 1970 as a British rock band composed of Freddie Mercury, Brian May, Roger Taylor, and John Deacon. They were influenced by hard and progressive rock and heavy metal. Some of their well known songs include; "Bohemian Rhapsody", "We will Rock You", "We Are the Champions", and "Another One Bites the Dust". In 1985, Queen performed at the Live Aid concert which has been ranked one of the greatest rock concerts in history. The band was inducted into the Rock and Roll Hall of Fame in 2001 and all four members were inducted into the Songwriters Hall of Fame in 2003. In 2018, Queen was presented with the Grammy Lifetime Achievement Award.</p>
        {% for member in members %}
          <div class="card" style="width:200px">
  <img class="card-img-top" src= assets/img/members/{{ member.image }} alt="Member image">
  <div class="card-body">
    <h4 class="card-title">{{ member.name }}</h4>
    <p class="card-text">{{ member.instruments }}</p>
    <a href="{{ member.link }}" class="btn btn-dark">Profile</a>
  </div>
        {% else %}
          <li>This would display if the 'members' collection were empty</li>
        {% endfor %}
</div>
    </div>
  </div>
</div>
{% endblock %}
